*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    
}



body{
    overflow-x: hidden;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #111;
    color: #ffffff;
    position: sticky;
    top: 0%;
    z-index: 999;
}

.logoImg{
    height: 36px;
    cursor: pointer;
}

.navLinks a{
    text-decoration: none;
    margin: 0px 16px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: .50s;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.navLinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    height: 4px;
    border-radius: 8px;
    background-color: #FB4553;
    transition: width 0.3s ease;
}

.navLinks a:hover::after{
    width: 100%;;
}

.material-symbols-outlined {
    font-size: 24px;
    background-color: #ffffff00;
    padding: 4px;
    margin-right: 8px;
    cursor: pointer;
    transition: .3s;
}

.material-symbols-outlined:hover {
    background-color: #ffffff21;
    padding: 4px;
    border-radius: 8px;

}

.navBtn{
    display: flex;
    align-items: center;
}

.button{
    background-color: #FB4553;
    color: #111;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 600;
    border: 2px solid #FB4553;
    padding: 12px 16px;
    border-radius: 16px;
    cursor: pointer;
    transition: .5s;
}

.button:hover{
    background-color: hsl(355, 96%, 68%);
    color: white;
}
.hero{
    position: relative;
    height: 644px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./Images/BG\ image.jpg');
    background-size: cover;
    background-position: center;
    margin: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.heroContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 1;
}

.tagline{
    font-size: 20px;
    margin-bottom: 16px;
}
.imgWrapper{
    margin-bottom: 16px;
}
.heroLogo{
    height: 80%;
}

.ctaWrapper {
    display: inline-block;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.763);
}

.cta{
    display: flex;
    justify-content: center;
    background-color: #FB4553;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 16px 28px;
    cursor: pointer;
    transition: .3s;
}

.cta:hover{
    background-color: #ffffff;
    color: #111;

}


/*News Section*/

.newsTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 20px;
    margin-top: 34px;
}

.newsTitle h2{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.rightAlign{
    display: flex;
    align-items: center;
    gap: 4px;
}

.newsBtn{
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
}

.newsBtn:hover{
    color: #6e6e6e;
}

.arrow-icon{
    color: #FB4553;
}

.newsImg, .newsImg2, .newsImg3{
    position: relative;
    display: inline-block;
    overflow: hidden;
    
}

.newsImg img, .newsImg2 img, .newsImg3 img{
    width: 100%;
    height: auto;
    display: block;
    transition: .3s ease;
    cursor: pointer;
    
}
.newsImg:hover img, .newsImg2:hover img, .newsImg3:hover img{
    transform: scale(1.1);
}

.newsImg .overlay-icon, .newsImg2 .overlay-icon, .newsImg3 .overlay-icon{
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.344);
    color: white;
    border-radius: 4px;
    font-size: 20px;
    margin: 0%;
    
}

/*News Contents*/

.redText, .redText2, .redText3{
    font-size: 16px;
    font-weight: bold;
    color: #FB4553;
}

.vert, .vert2, .vert3{
    color: #6e6e6e;
    font-weight: 500;
}

.newsContents p, .newsContents2 p, .newsContents3 p{
    font-size: 16px;
    font-weight: 600;
}
.newsContents h3, .newsContents2 h3, .newsContents3 h3{
    font-size: 24px;
    font-weight: 650;
    margin-top: 12px;
    margin-bottom: 8px;
}
.newsContents p2, .newsContents2 p2, .newsContents3 p2{
    font-size: 16px;
    font-weight: 500;
    color: #353535;
}

.ParentNewsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
    margin-bottom: 36px;
    gap: 20px;
    
}

.newsCard1, .newsCard2, .newsCard3{
    cursor: pointer;
    width: 80%;
    
}

.seasonSec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(./Images/Sback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-color: #FB4553;
    width: 100%;
    height: 624px;
    position: relative;
    padding: 0px 20px;
    margin-top: 72px;
    
}

.sectionContents h2{
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: bolder;
    color: #111;
}
.SeasonTitle{
    margin-bottom: -28px;
}

.sectionContents p{
    font-size: 20px;
    font-weight: 600;
}

.watchNow, .learnGameBtn, .mapsBtn{
    background-color: #FB4553;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 28px;
    cursor: pointer;
    margin-top: 32px;
    transition: .3s;
}

.watchNow:hover, .learnGameBtn:hover, .mapsBtn:hover{
    background-color: #111;
}

.learnGameSection, .mapsSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 120px;
    padding: 0px 20px;
    margin-top: 96px;
}

.learnContents h3, .mapContents h3{
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: bolder;
    color: #111;
    margin-bottom: 16px;
}

.learnContents p1, .mapContents p1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.learnContents p2, .mapContents p2{
    font-size: 16px;
    font-weight: 500;
}

.agentsSec{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(./Images/Aback.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    background-color: #FB4553;
    width: 100%;
    height: 624px;
    position: relative;
    padding: 0px 20px;
    margin-left: auto;
    margin-top: 72px;
}

.agentsContents {
    max-width: 620px;
    text-align: left;
    color: white;
}

.agentsContents h2{
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: bolder;
    color: white;
    margin-bottom: 16px;
}

.agentsContents p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.agentsContents p1{
    font-size: 18px;
    font-weight: 500;
}

.agentsBtn{
    background-color: #111;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 28px;
    cursor: pointer;
    margin-top: 32px;
    transition: .3s;
}

.agentsBtn:hover{
    background-color: white;
    color: #111;
}

.mapsSection img{
    width: 100%;
    height: 612px;
}

.mobileApp {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 32px 20px;
    background-color: #292929;
}
.mobileAppBtn{
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 550;
    color: white;
    cursor: pointer;
    transition: .3s;
    padding: 8px 8px;
    border-radius: 4px;
}

.mobileAppBtn:hover{
    background: #3e3e3e;
}

footer{
    background: #111;
    align-items: center;
    text-align: center;
    padding-bottom: 56px;
}

.socialIcons{
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #ffffff;
    size: 20px;
    
}
.Icons{
    padding-top: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.footerLogo{
    width: auto;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.copyright{
    color: #6e6e6e;
    font-size: 14px;
    padding:20px 0px;
    align-items: center;
    text-align: center;
}

.footerBtn{
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: transparent;
    color: #ffffff;
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

.footerBtns{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;  
    gap: 24px;
}

.footerBtn:hover{
    background: #3e3e3e;
}

.ftMarks{
    padding: 8px;
    background-color: #2c2c2c;
    border-radius: 4px;
    margin-top: 20px;
    gap: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s ease;
}

.ftMarks:hover{
    transform: scale(1.0s);
}



/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
  }
  .hamburger span {
    height: 4px;
    width: 28px;
    background: white;
    margin: 4px;
    border-radius: 4px;
    transition: 0.4s;
  }
  
  /* Mobile Menu */
  .mobileMenu {
    display: none;
    position: fixed;
    top: 72px;
    right: 0;
    background-color: #111;
    width: 100%;
    padding: 24px 0;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    z-index: 1000;
  }
  
  .mobileMenu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }
  
  /* Show menu when active */
  .mobileMenu.active {
    display: flex;
  }
  
  /* Responsive Trigger */
  @media (max-width: 768px) {
    .navLinks {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }
  